.bitbucket-widget {
    margin-top: 30px;
    border: 1px solid #bbb;
    border-radius: 5px;

    color: #666;
}

.bitbucket-widget a {
    color: #229FCC;
}

.bitbucket-widget .repo-header,
.bitbucket-widget .repo-body {
    padding: 15px;
}

.bitbucket-widget .repo-header {
    background-color: #F0F0F0;
    background-image: -webkit-linear-gradient(top, #FFF 0%, #F0F0F0 80%, #DDD 100%);
    background-image: linear-gradient(to bottom, #FFF 0%, #F0F0F0 80%, #DDD 100%);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bbb;
}

.bitbucket-widget .repo-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bitbucket-widget .repo-header .repo-name {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bitbucket-widget .repo-header .repo-name,
.bitbucket-widget .repo-header .repo-logo {
    margin-right: 10px;
}

.bitbucket-widget .repo-header .repo-name,
.bitbucket-widget .repo-header .repo-last-update {
    vertical-align: middle;
    white-space: nowrap;
}

.bitbucket-widget .repo-stats {
    float: right;

    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #fff;
}

.bitbucket-widget .repo-stats > * {
    display: table-cell;    
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    width: 3em;
    font-weight: bold;
}
.bitbucket-widget .repo-stats > :first-child {
    border-right: 1px solid #bbb;
}

.bitbucket-widget .repo-body {
    font-size: 14px;
}

.bitbucket-widget .repo-logo,
.bitbucket-widget .repo-website {
    display: inline-block;
    vertical-align: middle;
}

.bitbucket-widget .repo-description {
    margin-top: 10px;   
}